@import url('https://fonts.googleapis.com/css2?family=Allura&family=Anton&family=Asap+Condensed:wght@200;300;400;500;600;700;800&family=Carter+One&family=Dancing+Script:wght@400;500;600&family=Ibarra+Real+Nova:wght@400;500;600;700&family=Instrument+Sans:wght@400;500&family=Josefin+Sans:wght@100;300;400;500;600;700&family=Josefin+Slab:wght@200;300;400;500;600;700&family=Jost:wght@100;200;400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@300;400;600;700&family=Oleo+Script+Swash+Caps:wght@700&family=Oswald:wght@200;300;400;500;600&family=PT+Sans:wght@400;700&family=Playfair+Display:ital,wght@0,500;0,700;0,800;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@200;300;400;600;700;900&family=Ubuntu:wght@300;400;500;700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Anton&family=Asap+Condensed:wght@200;300;400;500;600;700;800&family=Cabin:wght@400;500;600;700&family=Carter+One&family=Dancing+Script:wght@400;500;600&family=Ibarra+Real+Nova:wght@400;500;600;700&family=Instrument+Sans:wght@400;500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Jost:wght@100;200;400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@300;400;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300&family=Oleo+Script+Swash+Caps:wght@700&family=Oswald:wght@200;300;400;500;600&family=PT+Sans:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Bubbles&family=Titillium+Web:wght@200;300;400;600;700;900&family=Ubuntu:wght@300;400;500;700&family=Yeseva+One&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
}

.menu-btn img{
    display: none;
}


body{
    overflow-x: hidden !important;
}

ul{
    display: flex;
    align-items: center;
}

ul li{
    text-decoration: none;
    list-style: none;
}

ul li ul.dropdown p {
    display: block;
    padding: 10px 22px;
    color: black;
    justify-content: center;
    align-items: center;
}

.left{
    color: #E95605;
    cursor: pointer;
}

.dropdown p:hover{
    color:#E95605;
}

ul li ul.dropdown{
    width: 13rem;
    margin-top: 0.2rem;
    height: 8.6rem;
    background: #fff;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
    color: #E95605;
}

ul li ul.down-drop p {
    display: block;
    padding: 8px 22px;
    color: black;
    justify-content: center;
    align-items: center;
}

.down-drop p:hover{
    color:#E95605;
}

ul li ul.down-drop{
    width: 15rem;
    margin-top: 0.2rem;
    height: 14.9rem;
    background: #fff;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.down-drop {
    display: block;
    color: #E95605;
}


ul li ul.blog p {
    display: flex;
    padding: 10px 22px;
    color: black;
}

.left{
    color: #E95605;
}

.blog p:hover{
    color:#E95605;
}

.blog{
    display: flex;
}

ul li ul.blog{
    margin-left: -17rem;
    width: 32rem;
    margin-top: 0.2rem;
    padding: 8px 8px 8px 0;
    display: flex;
    height: 18.6rem;
    background: #fff;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.blog {
    display: flex;
    color: #E95605;
}

:root {
    --primary: #2a5240;
    --primary-dark: #2a5240;
    --primary-brown: #e95605;
    --primary-light: #e8f8f1;
    --primary-light-brown: #f8f5ea;
    --gray: #e9e9e9;
    --black: black;
    --light-gray: #f9f9fa;
    --white: white;
    --white-50: rgba(255, 255, 255, .5);
    --dark-gray-50: rgba(175, 175, 175, .5);
    --dark-gray: #afafaf;
    --transperent: rgba(248, 245, 234, 0);
    --yellow: #ffe84c;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex; 
    align-items: center;
    padding: 1px 45px;
    transition: 0.9s ease-in-out;
    cursor: pointer;
    background: transparent;
}

header.scrolled{
    background: #2a5240;
    opacity: 21;
}

header .scrolled .navigation .navigation-items a{
    color: red;
}

header .brand img{
    width: 130px;
    height: 90px;
}

header .navigation{
    position: relative;
}

.navigation-items a#button{
    font-family: "Satoshi", sans-serif; 
    background: transparent;
    padding: 15px 28px; 
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.navigation-items a#button:hover{
    background: transparent;
    color: #E95605;
    border: 1px solid #e95605;
}


header .navigation .navigation-items a{
    position: relative;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 49px;
    transition: 0.4s ease-in-out;
}

header .navigation .navigation-items a:hover{
    color: #afafaf;
}

section{
    padding: 90px 45px;
}

.notification-count {
    background: #E95605;
    color: #fff;
    font-size: 11px;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem;
    position: absolute;
    right: 10.7rem;
    bottom: 1.6rem;
}

.home{
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    width: 68%;
    margin-top: 90px;
}

.underline{
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    border-bottom: 2px solid var(--primary-brown);
}

.home .content h1{
    font-family: "Playfair Display", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: var(--light-gray);
}

.home .content p {
    margin-top: 25px;
    font-family: "Satoshi", sans-serif; 
    font-size: 17px;
    font-weight: 400;
    color: var(--light-gray);
}

.home .content a{
    font-family: "Satoshi", sans-serif; 
    background: var(--primary-brown);
    padding: 15px 30px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
}

.more{
    margin-top: 5.3rem;
}

.home .content a:hover{
    background: transparent;
    border: 1px solid var(--primary-brown);
}

.home video{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.4);
}

.hero{
    padding: 100px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #E8F8F1;
}

.hero img{
    width: 500px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}

.big{
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Playfair Display, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1em;
}

#priority{
    border-bottom: 2px solid #e95605;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
}

.small{
    margin-top: 30px;
    color: var(--primary);
    font-family: "Satoshi", sans-serif;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.2em;
}


.line{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #5A605F;
}

.all-num{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.num{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Satoshi", sans-serif; 
}

.num h1{
    color: var(--primary-brown);
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.num p{
    color: var(--primary-dark);
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
}

.service{
    padding: 110px 37px;
}

.our{
    display: flex;
    align-items: center;
}

.disk{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    margin-left: 36rem;
}

.disk:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

h1.ser{
    font-size: 52px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

.card:hover{
    background: #fff;
    border: 1px solid var(--primary);
}

h2.card-item:hover{
    color: #E95605;
}

.card-box{
    padding: 0px 2px;
}

.card{
    padding: 2rem 1rem;
    color: var(--primary);
    background: #F8F5EA;
    width: 21rem;
    height: 13.6rem;
    gap: 1rem;
    border-radius: 10px;
}


.card-item{
    padding: 1rem 0rem;
    font-size: 26px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
}

.card img{
    width: 45px;
}

.card-content{
    margin-top: 5px;
}

.vice{
    padding: 0px 50px;
    justify-content: space-between;
    display: flex;
}

.video-container{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 100px;
}

#video{
    background-image: url(./image/project-5922677.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}


.unique{
    background: #2a5240ea;
    z-index: 10;
    width: 900px;
    position: absolute;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100vh;
    color: #fff;
    align-items: center;
}

.video-big{
    align-items: center;
    padding: 0rem 3rem;
    font-size: 52px;
    font-weight: 700;
    margin-top: 95px;
    font-family: "Playfair Display", sans-serif;
}

.video-small{
    padding: 0rem 3rem;
    margin-top: 19px;
    font-family: "Satoshi", sans-serif;
}

.need{
    border-bottom: 2px solid #e95605;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
}

.butt .join{
    width: 90px;
    position: absolute;
    margin-top: 21rem;
    color: #fff;
    align-items: center;
    width: 10rem;
    height: 3.4rem;
    z-index: 10;
}

.join{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid #E95605;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
}

.join:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

#menu{
    z-index: 10;
    width: 90px;
    position: absolute;
    top: 0;
    left: 70%;
    margin-top: 16rem;
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
}

.btn2 span i{
    height: 60px;
    width: 60px;
    background: #E95605;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    border-radius: 52%;
    margin-right: 1rem;
    transition: all .45s ease;
}

.btn2 span i:hover{
    transform: scale(0.9) translateY(2px);
}

/* ==================SHOW-CASE==================== */

.faq{
    padding: 120px 45px;
}

.shot{
    font-size: 45px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

.format{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#hover{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    /* margin-left: 36rem; */
}

#hover:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

h1.showe{
    font-size: 45px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

/* =====================COLLECTION================ */

.collection{
    display: flex;
    gap: 2rem;
    padding: 1px 45px;
}

.collection h2.collect{
    margin-top: 1rem;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

h2.collect:hover{
    color: #E95605;
}

.collection p.text-list{
    margin-top: 7px;
    font-family: "Satoshi", sans-serif;
    color: #E95605;
}

p.text-list:hover{
    color: #2a5240;
}


.wrapper{
    border-radius: 10px;
    width: 30rem;
    height: 18rem;
    overflow: hidden;
}

.wrapper img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper img:hover{
    transform: scale(1.1);
}

.wrapper-two{
    border-radius: 10px;
    width: 30rem;
    height: 17rem;
    margin-top: 2rem;
    overflow: hidden;
}

.wrapper-two img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper-two img:hover{
    transform: scale(1.1);
}

.wrapper-third{
    border-radius: 10px;
    height: 90%;
    width: 98%;
    overflow: hidden;
}

.wrapper-third img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper-third img:hover{
    transform: scale(1.1);
}


.case{
    display: flex;
    align-items: center;
}

#disk{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    margin-left: 52rem;
}

#disk:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

h1.show{
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

/* =================Accordion-TITLE-WRAPP==================== */

.accordion-title-wrapp{
    padding: 1px 52px;
}

.wrap-one-column{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E8F8F1;
    padding: 2.3rem;
    border-radius: 8px;
}

.wrap-one-column h4{
    font-family: "Playfair Display", sans-serif;
    font-size: 26px;
    color: #2D3D33;
    font-weight: 700;
}

.wrap{
    background-color: #2A5240;
    padding: 0.4rem;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}


/* =============================QUOTE======================== */

.quote{
    margin-top: 8rem;
    background: #F8F5EA;
}

.happy{
    color: #E95605;
    font-size: 20px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
}

#happy{
    border-bottom: 2px solid #e95605;
}


.quote-text{
    margin-top: 4rem;
    font-size: 42px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    color: #2A5240;
}

#quote{
    text-align: center;
    background: #F8F5EA;
    align-items: center;
}

.quote-wrap{
    width: 30px;
    height: 28px;
    background-color: #E95605;
    border-radius: 5px;
    align-items: center;
    position: relative;
    left: -5px;
    bottom: 5px;
}

.quote-wrap img{
    align-items: center;
    width: 30px;
    height: 15px;
    position: relative;
    height: 15px;
}

.quote-content img{
    width: 76px;
    height: 76px; 
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 8px;
    margin-right: 15px;
    display: block;
}

.quote-content{
    padding: 0px 2rem;
    display: flex;
    position: relative;
    bottom: 12px;
    align-items: center;
}

.quote-card{
    display: flex;
    justify-content: space-between;
    padding: 4rem 1rem;
}

.quote-box{
    background-color: transparent;
    align-items: center;
    width: 20rem;
    height: 7rem;
    border-radius: 8px;
    justify-content: center;
    border: 1px solid #2A5240;
}

#quote-box{
    background-color: white;
    align-items: center;
    width: 20rem;
    height: 7rem;
    border-radius: 8px;
    justify-content: center;
}

#quote-box:hover{
    background: transparent;
    border: 1px solid #2A5240;
}

#quote-box .quote-name p{
    font-size: 17px;
    font-weight: 300;
}

.quote-box:hover{
    background: #fff;
    border: transparent;
}

.quote-name h5{
    font-family: "Playfair Display", sans-serif;
    color: #2A5240;
    font-size: 24px;
    font-weight: 700;
}

.quote-name p{
    color: #E95605;
    font-size: 18px;
    font-weight: 400;
}




.top{
    padding: 120px 45px;
}

.news{
    display: flex;
    align-items: center;
}

#disk{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    margin-left: 41rem;
}

#disk:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

h1.top-show{
    font-size: 50px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

.news-top{
    display: flex;
    padding: 1px 45px;
}

h2.collected{
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

.collected:hover{
    color: #E95605;
}

.branch p.text-list{
    margin-top: 7px;
    font-family: "Satoshi", sans-serif;
    color: #2a5240;
}

.wrapper-top{
    border-radius: 10px;
    width: 93%;
    height: 70%;
    overflow: hidden;
}

.wrapper-top img:hover{
    transform: scale(1.1);
}

.wrapper-top img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.span-box{
    margin-top: 1rem;
}

.span-box a.list-wrapper{
    color: #E95605;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

a.list-wrapper:hover{
    color: #2a5240;
}

.money{
    border-bottom: 2px solid var(--primary-brown);
}

a.list-wrapper .money:hover{
    border-bottom: 2px solid #2A5240;
}

.footer{
    margin-top: 6rem;
    padding: 100px 45px;
    background: #2A5240;
}

.fintech-image img{
    width: 150px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.social-icon .bx:hover{
    color: #E95605;
}

.social-icon .bx{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
    transition: all .3s;
}

.social-icon {
    gap: 12rem;
    justify-content: space-between;
}

.social{
    border-bottom: 2px solid var(--primary-brown);
}

.footer-ending{
    background: #2A5240;
    padding: 0px 45px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.demos .head{
    font-size: 24px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
}

.demos-set .head{
    font-size: 24px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
}

.demos p:hover{
    color: #E95605;
}

.demos-set{
display:inline-block;
}

.demos{
    line-height: 2rem;
}

.demos p{
    font-size: 18px;
    font-weight: 400;
}

.demos-set input{
    border: 1px solid transparent;
    outline: none;
    width: 13rem;
    height: 3.5rem;
    align-items: center;
    text-align:start;
    margin-bottom: 1rem;
    border-radius: 8px;
    margin-top: 2rem;
}

input{
    font-weight: 400;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: red;
}

#sub{
    background: #E95605;
    width: 13rem;
    height: 3.4rem;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    
}

#sub:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

/* =====================COPYRIGHT====================== */

.copyright{
    padding: 70px 45px;
    background: #2A5240;
    display: flex;
    justify-content: space-between;
}

.copyright p{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.power{
    color: #E95605;
}



/* =========================ANODA============================== */

.hire-popup {
    z-index: 1000;
    width: 100%;
    max-width: 296px;
    color: #fff;
    background-color: #1c276d;
    border-radius: 4px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    position: fixed;
    top: auto;
    bottom: 5px;
    left: 5px;
    right: auto;
  }
  
  .hire-popup-wrap {
    grid-row-gap: 10px;
    color: #fff;
    letter-spacing: 0;
    text-transform: none;
    flex-direction: column;
    padding: 15px;
    display: flex;
    position: relative;
  }
  
  .hire-popup-wrap:hover {
    color: #fff;
  }
  
  .hire-paragraph {
    max-width: 93%;
    font-size: 12px;
  }
  
  .hire-link {
    color: #fff;
    letter-spacing: 0;
    text-transform: none;
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-clip: border-box;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: underline;
    transition-property: none;
  }
  
  .hire-link:hover {
    opacity: 1;
    color: #fff;
    text-transform: none;
  }
  
  .hire-buttons-wrap {
    grid-column-gap: 20px;
    display: flex;
  }
  
  .hire-buttons {
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    -webkit-text-fill-color: inherit;
    background-image: none;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px 15px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
    transition-property: none;
  }
  
  .hire-buttons:hover {
    opacity: 1;
    color: #fff;
}

.hire-popup-close {
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    top: -7px;
    right: -14px;
}

.close-popup-image {
    width: 12px;
    height: 12px;
}

.buy-this-template {
    z-index: 1000;
    opacity: 1;
    color: #fff;
    letter-spacing: 0;
    text-transform: none;
    background-color: #4353ff;
    border: 1px solid #4353ff;
    border-radius: 4px;
    padding: 6px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-decoration: none;
    transition-property: none;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 48px;
    left: auto;
    right: 12px;
}

.buy-this-template:hover {
    opacity: 1;
    color: #fff;
}

.btn-icon {
    margin-right: 8px;
}

.all-templates {
    z-index: 1000;
    width: 140px;
    color: #4353ff;
    letter-spacing: 0;
    text-transform: none;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    padding: 6px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-decoration: none;
    display: flex;
    position: fixed;
    top: auto;
    bottom: 12px;
    left: auto;
    right: 12px;
}

.all-templates:hover {
    opacity: 1;
    color: #4353ff;
}


/*============================ABOUT US===============================================  */

header.scrolled{
    background: #2a5240;
    opacity: 21;
}

.Aboutus{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)) ,url(./image/project-5922677.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    height: 380px;
    z-index: -1;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.career{padding: 50px 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.career h1{
    font-size: 50px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    color: #fff;
}

.ion{
    border-bottom: 2px solid var(--primary-brown);
}

.miss a.ion:hover{
    color: #2A5240;
    border-bottom: 2px solid #2A5240;
}

.miss a.valu::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #E95605;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(6);
    transition: transform .5s;
}

.miss a.value:hover::before{
    transform: scaleX(1);
    transform-origin: right;
}



.featured-icon{
    padding: 50px 45px;
    background: #F8F5EA;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 120vh;
    justify-content: space-between;
}


.ico img{
    width: 40px;
    align-items: center;
    justify-content: center;
}

.ico{
    background: #fff;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 70px;
    width: 70px;
    border-radius: 8px;
    margin-left: 7rem;
}


.featured-icon-wrapper{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.featured-icon-wrapper h3{
    color: #2A5240;
    font-family: "Playfair Display", sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-top: 1.4rem;
}

.featured-icon-wrapper p{
    color: #2A5240;
    font-weight: 400;
    font-size: 16px;
    margin-top: 1.4rem;
}


.picture{
    padding: 0px 45px;
    position: relative;
    bottom: 13rem;
    height: 100vh;
}

.play img{
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    object-fit: cover;
    z-index: 77;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 67rem;
    height: 26rem;
    border-radius: 8px;
}

.play-button .bx{
    font-size: 2rem;
    color: white;
    text-align: center;
}

.play-button{
    position: relative;
    justify-content: space-between;
    left: 31.3rem;
    bottom: 16rem;
    padding: 1rem;
    width: 3.9rem;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(11px);
    background-color: rgba(233, 86, 5, .7);
    background-image: linear-gradient(79deg, #e95605, rgba(255, 255, 255, 0));
}

.play-button:hover {
    z-index: 10;
    width: 75px;
    height: 75px;
    border: 1px solid #f9f9fa;
    border-radius: 100%;
    transition: all .3s;
    transform:scale3d()(-1);
}

.session{
    display: flex;
    justify-content: space-between;
    padding: 0px 45px;
}


.question{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 70px 45px;
}

.question img{
    object-fit: cover;
    border-radius: 8px;
    width: 33rem;
    height: 22rem;
    object-fit: cover;
}

.messic{
    display: flex;
    justify-content: space-between;
    padding: 70px 45px;
}

.messic img{
    object-fit: cover;
    border-radius: 8px;
    width: 33rem;
    height: 22rem;
    object-fit: cover;
}

.session img{
    object-fit: cover;
    border-radius: 8px;
    width: 33rem;
    height: 22rem;
    object-fit: cover;
}

.session-chat{
    margin-top: 2.6rem;
}

.session-chat h1{
    margin-top: 1rem;
    color:#2A5240;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
}


.session-chat p{
    margin-top: 1rem;
    line-height: 1.6rem;
    font-size: 18px;
    font-weight: 400;
    color: #2A5240;
}

.session-chat a.sion{
    color: #E95605;
    text-decoration: none;
}

a.sion:hover{
    color: #2A5240;
    border-bottom: 2px solid var(--primary);
}

.less{
    margin-top: 3rem;
}

.sion{
    margin-top: 9rem;
    border-bottom: 2px solid var(--primary-brown);
}

.mission{
    display: flex;
    background: #F8F5EA;
    justify-content: space-between;
    padding: 100px 45px;
}

.miss{
    gap: 2rem;
    display: flex;
}

h1.empowering{
    margin-top: 3rem;
    color:#2A5240;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    font-size: 50px;
}

.miss a{
    color: #E95605;
    text-decoration: none;
}

.our-mission p{
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 400;
    color: #2A5240;
}

.us img{
    width: 29rem;
    height: 29rem;object-fit: cover;
    border-radius: 8px;
}

/* ===============DRIVE============ */

.drive{
    background: #F8F5EA;
    padding: 10px 45px;
    align-items: center;
    text-align: center;
}

.drive h2{
    font-size: 50px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    color: #2A5240;
}

.drive p{
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
    color: #2A5240;
}


.meet{
    margin-top: 3rem;
    background: #E8F8F1;
    padding: 130px 45px;
}

.news-meet{
    display: flex;
    align-items: center;
}

#disk-meet{
    background: #E95605;
    width: 8rem;
    height: 3.4rem;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    margin-left: 41rem;
}

#disk-meet:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

h1.meet-show{
    font-size: 52px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}



.amblum{
    display: flex;
    padding: 70px 0px;
    justify-content: space-between; 
}

.amblum-wrap img{
    width: 15.5rem;
    height: 340px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 8px;
}

.amblum-wrap img.wrapper-amblum{
    width: 15.5rem;
    height: 340px;
    object-fit: cover;
    border-radius: 8px;
}

.amblum-wrap h2{
    font-size: 24px;
    color: #2A5240;
    font-weight: 600;
    font-family: "Playfair Display", sans-serif;
}

.amblum-wrap p{
    font-size: 18px;
    color: #2A5240;
    font-weight: 400;
}

.group-box{
    padding: 60px 45px;
    align-items: center;
    text-align: center;
    
}

.group-box h6{
    font-family: "Playfair Display", sans-serif;
    color: #E95605;
    font-size: 20px;
    font-weight: 700;
}

.group-game{
    align-items: center;
    text-align: center;
    padding: 0px 30rem;
}

#group-big{
    border-bottom: 2px solid var(--primary-brown);
    color: var(--primary-brown);
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 6px;
    font-weight: 700;
}

.group-box h2{
    font-family: "Playfair Display", sans-serif;
    margin-top: 2rem;
font-size: 50px;
font-weight: 700;
    color: #2A5240;
}

.group-box p{
    color: #2A5240 ;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
}

.code{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 4rem;
    margin-left: 4rem;
    padding: 30px;
}

.coder-table{
    align-items: center;
    text-align: center;
    display: flex;
    gap: 3rem;
    margin-left: 14rem;
    padding: 10px 0px;
}


/* =============================QUOTE======================== */

.quote-task{
    margin-top: 3rem;
    background: #F8F5EA;
}

.happy-mood{
    color: #E95605;
    font-size: 20px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
}

#happy{
    border-bottom: 2px solid #e95605;
}


.quote-text{
    margin-top: 4rem;
    font-size: 42px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    color: #2A5240;
}

#quote{
    text-align: center;
    background: #F8F5EA;
    align-items: center;
}

.quote-wrap{
    width: 30px;
    height: 28px;
    background-color: #E95605;
    border-radius: 5px;
    align-items: center;
    position: relative;
    left: -5px;
    bottom: 5px;
}

.quote-wrap img{
    align-items: center;
    width: 30px;
    height: 15px;
    position: relative;
    height: 15px;
}

.quote-content img{
    width: 76px;
    height: 76px; 
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 8px;
    margin-right: 15px;
    display: block;
}

.quote-content{
    padding: 0px 2rem;
    display: flex;
    position: relative;
    bottom: 12px;
    align-items: center;
}

.quote-card{
    display: flex;
    justify-content: space-between;
    padding: 4rem 1rem;
}

.quote-box{
    background-color: transparent;
    align-items: center;
    width: 20rem;
    height: 7rem;
    border-radius: 8px;
    justify-content: center;
    border: 1px solid #2A5240;
}

#quote-box{
    background-color: white;
    align-items: center;
    width: 20rem;
    height: 7rem;
    border-radius: 8px;
    justify-content: center;
}

#quote-box:hover{
    background: transparent;
    border: 1px solid #2A5240;
}

#quote-box .quote-name p{
    font-size: 17px;
    font-weight: 300;
}

.quote-box:hover{
    background: #fff;
    border: transparent;
}

.quote-name h5{
    font-family: "Playfair Display", sans-serif;
    color: #2A5240;
    font-size: 24px;
    font-weight: 700;
}

.quote-name p{
    color: #E95605;
    font-size: 18px;
    font-weight: 400;
}

.started{
    margin-top: 9rem;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)) ,url(./image/tim-douglas-6567545.webp);
    background-position: 0 0, 50% 26%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    height: 80vh;
}

.career{padding: 0px 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.base-container {
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}


#prod{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 9px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    margin-left: 28rem;
    margin-top: 3rem;
}

#prod:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

.career h1{
    font-size: 50px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    color: #fff;
}

.footer-table{
    padding: 100px 45px;
    background: #2A5240;
}

/* ========================SHOWCASES=================== */

header.scrolled{
    background: #2a5240;
    opacity: 21;
}

.upper{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)) ,url(./image/krukau-7693109.webp);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    height: 380px;
    z-index: -1;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.upper-showcase{padding: 50px 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.upper-showcase h1{
    font-size: 65px;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    color: #fff;
}


.market{
    padding: 100px 45px;
}

.mark{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 1rem;
}

.mark a{
    text-decoration: none;
    color: #E95605;
    font-size: 18px;
}

.mar{
    border-bottom: 2px solid #E95605;
}

a.mar:hover{
    color: #2A5240;
    border-bottom: 2px solid #2A5240;
}



.nation{
    display: flex;
    padding: 0px 45px;

}


.combination{
    display: flex;
    padding: 50px 45px;
    justify-content: space-between;
}

h2.collected{
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

.combination-branch .collected:hover{
    color: #E95605;
}

.combination-branch p.text-list{
    margin-top: 7px;
    font-family: "Satoshi", sans-serif;
    color: #E95605;
}

.wrapper-nation{
    border-radius: 10px;
    width: 93%;
    height: 70%;
    overflow: hidden;
}

.wrapper-nation img:hover{
    transform: scale(1.1);
}

.wrapper-nation img{
    object-fit: cover;
    height: 20rem;
    width: 22rem;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}


/* ===========================SERVICE=============== */
header.scrolled{
    background: #2a5240;
    opacity: 21;
}


.pages-blog{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)) ,url(./image/alphatradezone-5833272.webp);
    min-height: 380px;
    background-color: var(--primary);
    background-position: 0 0, 50% 10%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    align-items: center;
}









/* ================================BLOG=========================== */


header.scrolled{
    background: #2a5240;
    opacity: 21;
}


.banner-pages-blog{
        min-height: 380px;
        background-color: var(--primary);
        background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(./image/6565e82322a3bca4288390a9_pexels-yan-krukau-7693107.webp);
        background-position: 0 0, 50% 28%;
        background-size: auto, cover;
        align-items: center;
}


.ship{
    display: flex;
    padding: 80px 45px;
    height: 100vh;
}

h2.collected{
    color: var(--primary);
    font-family: "Playfair Display", sans-serif;
}

.collected:hover{
    color: #E95605;
}

.branch p.text-list{
    margin-top: 7px;
    font-family: "Satoshi", sans-serif;
    color: #2a5240;
}

.wrapper-top{
    border-radius: 10px;
    width: 93%;
    height: 70%;
    overflow: hidden;
}

.wrapper-top img:hover{
    transform: scale(1.1);
}

.wrapper-top img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.span-box{
    margin-top: 1rem;
}

.span-box a.list-wrapper{
    color: #E95605;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

a.list-wrapper:hover{
    color: #2a5240;
}

.money{
    border-bottom: 2px solid var(--primary-brown);
}

a.list-wrapper .money:hover{
    border-bottom: 2px solid #2A5240;
}


.table-box{
    padding: 100px 45px;
    background: #2A5240;
    margin-top: 4rem;
}

.vice-set{
    margin-top: 6rem;
    padding: 0px 50px;
    justify-content: space-between;
    display: flex;
}

.cloth{
    margin-top: 2rem;
    padding: 0px 50px;
    justify-content: space-between;
    display: flex;
}

.matter{
    margin-top: 2rem;
    padding: 0px 50px;
    justify-content: space-between;
    display: flex;
}


.action{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    background: #E8F8F1;
    padding: 80px 45px;
}

.action-one h2{
    font-size: 50px;
    font-weight: 700;
    color: #2A5240;
    font-family: "Playfair Display", sans-serif;;
}

.action-one li{
    color: #E95605;
    
}

.action-one p{
    font-size: 18px;
    font-weight: 400;
    color: #2A5240;
}

.local{
    background: #E95605;
    width: 10rem;
    height: 3.4rem;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Satoshi", sans-serif;
    color: #fff;
    margin-top: 2rem;
}

.local:hover{
    background: transparent;
    border: 1px solid #E95605;
    color: #E95605;
}

.classic img{
    width: 30rem;
    height: 22rem;
    border-radius: 8px;
}


.group-lunch{
    margin-top: 4rem;
    padding: 60px 45px;
    align-items: center;
    text-align: center;
    height: 130vh;
    
}

.group-lunch h6{
    font-family: "Playfair Display", sans-serif;
    color: #E95605;
    font-size: 20px;
    font-weight: 700;
}

.group-game{
    align-items: center;
    text-align: center;
    padding: 0px 30rem;
}

#group-big{
    border-bottom: 2px solid var(--primary-brown);
    color: var(--primary-brown);
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 6px;
    font-weight: 700;
}

.group-lunch h2{
    font-family: "Playfair Display", sans-serif;
    margin-top: 2rem;
font-size: 50px;
font-weight: 700;
    color: #2A5240;
}

.group-lunch p{
    color: #2A5240 ;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
}


.footer-club{
    margin-top: rem;
    padding: 100px 45px;
    background: #2A5240;
}
















































































@media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none;
    }

    .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
    }
}

@media screen and (max-width: 767px) {
    .w-nav[data-collapse="small"] .w-nav-menu {
    display: none;
    }

    .w-nav[data-collapse="small"] .w-nav-button {
    display: block;
    }

    .w-nav-brand {
    padding-left: 10px;
    }
}

@media screen and (max-width: 479px) {
    .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none;
    }

    .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block;
    }
}